.btn-actualizar{
    background-color: rgb(127, 124, 212);
}
.btn-eliminar{
    background-color: rgb(26, 212, 112);
}
.btn-guardar{
    background-color: lightslategray;
    color: white;
}
.btn-nuevoP{
    background-color: mediumslateblue;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #c90404 !important;
}

.navbar-brand img {
    border-radius: 8px;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #ffc107 !important;
}
#carouselExampleIndicators {
    margin-top: 80px;
}
.table tbody tr:hover {
    background-color: #e2e6ea;
    transition: 0.3s;
}

/* Centrar botones */
.table td:last-child {
    text-align: center;
}

/* Título */
h2 {
    color: #0d6efd;
    text-align: center;
    margin-bottom: 20px;
}